option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "myAppId"
    MASTER_KEY: "myMasterKey"
    DATABASE_URI: "mongodb://tonytung:theclipo@ds013848.mongolab.com:13848/clipo-test"
    NODE_ENV: "production"

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"